* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Hellvetica";
}

@font-face {
  font-family: "Hellvetica";
  src: url("fonts/Hellvetica.ttf") format("ttf"),
    url("fonts/Hellvetica.woff") format("woff");
  font-weight: normal;
}

/* NAV BAR  */

header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid hsl(200, 10%, 80%);
  padding: 0.75rem 1.5rem;
  position: fixed;
  z-index: 20;
}

footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid hsl(200, 10%, 80%);
  padding: 0.75rem 1.5rem;
}

footer p {
  display: inline;
}

.justify-space-between {
  justify-content: space-between;
}

.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-lg {
  max-width: 60rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
a:hover {
  color: white;
  background-color: black;
  letter-spacing: 3px;
}

#logo {
  width: 3em;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 5px;
}
#logo:hover span {
  display: none;
}
#logo:hover:before {
  content: "D\\\\S";
}

/* --------------------- */

.one {
  background-image: url(images/road1.png);
}
.two {
  background-image: url(images/road2.png);
}
.three {
  background-image: url(images/road3.png);
}

.stack > * + * {
  margin-left: auto;
  margin-right: auto;

  margin-top: 1rem;
  padding: 1em;
}
.page-heading {
  box-sizing: border-box;
  font-family: "Hellvetica";
  font-size: 20vw;
  padding: 10rem 3rem;
  text-align: center;
  text-rendering: optimizeLegibility;
  color: #131313;

  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181, -7px 14px 1px #868585;
  /* margin-top: 6rem; */
}

/* .content-box {
} */
.content-box > * + * {
  margin-top: 1rem;
  font-family: Helvetica, sans-serif;
}

.info-box h3 {
  font-family: "Hellvetica";
}
.image {
  height: 50vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: none !important;
  padding-bottom: 10rem;
}
.image > * + * {
  height: 30vw;
}

[aria-invalid="true"] {
  box-shadow: 0 0 0 3px red;
}

/* input section display */
input,
label {
  display: block;
}
textarea {
  height: 4em;
  width: 30em;
}
img {
  max-width: 150px;
  max-height: 150px;
}
